.page {
    height: 100vh;
}

.loginForm {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 3%;
    background-color: #fff;
    max-width: 30rem;
}
  
#headerLogin {
    text-align: center;
    color: #6c757d;
}

#submitBtn {
    text-align: right;
}

#errorMsg {
    text-align: center;
    color: red;
    margin-bottom: 1rem;
}